test.dominoes.goolagoon.org {
    @api path /api*
    reverse_proxy @api dominoes-test-backend:4000

    reverse_proxy dominoes-test-frontend:3000
}

dominoes.goolagoon.org {
    @api path /api*
    reverse_proxy @api dominoes-prod-backend:4000

    reverse_proxy dominoes-prod-frontend:3000
}

test.yahtzus.goolagoon.org {
    @api path /api*
    reverse_proxy @api yahtzus-test-backend:4010

    reverse_proxy yahtzus-test-frontend:3010
}

yahtzus.goolagoon.org {
    @api path /api*
    reverse_proxy @api yahtzus-prod-backend:4010

    reverse_proxy yahtzus-prod-frontend:3010
}

jubilaeum.humanflow.de {
    @api path /api*
    reverse_proxy @api humanflow-jubilaeum-backend:4020

    reverse_proxy humanflow-jubilaeum-frontend:3020
}